# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

## Overview
Some of the commonly used libraries used by Data Scientists include:
1. Nampy
2. Pandas
3. Matplotlib

| Data Science Tools|
|-------------------|
| Jupyter Notebook |
| R Studio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [50]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [52]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

** Objectives **
- List popular languages for Data Science
- Data Science Tools and Ecosys
- Data Science Tools

## Author ##
Lokesh